<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1%">

  <mat-card fxFlex="33%">
    <mat-card-title color="primary">Dynamic Form Generator</mat-card-title>
    <mat-card-content>

      <div>
        <form (ngSubmit)="onSubmitQuestion(formDirective)" [formGroup]="formGeneratorFormGroup" #formDirective="ngForm">
          <div fxLayout="column">
            <mat-form-field>
              <mat-select placeholder="Type of question?" formControlName="type" required>
                <mat-option>None</mat-option>
                <mat-option value="textbox">Textbox</mat-option>
                <mat-option value="dropdown">Dropdown</mat-option>
                <mat-option value="toggle">Toggle</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="key" required placeholder="Key">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="label" required placeholder="Label">
            </mat-form-field>




            <div class="form-row">
              <mat-slide-toggle formControlName="required">
                Required
              </mat-slide-toggle>
            </div>

            <div *ngIf="formGeneratorFormGroup.value.type ==='dropdown'">

              <h3>Options <button mat-mini-fab type="button" (click)="addOption()"><mat-icon>add</mat-icon></button></h3>


              <div formArrayName="options">
                <div *ngFor="let option of formGeneratorFormGroup.controls.options.controls; let i=index" [formGroupName]="i">

                  <h4>Option #{{i+1}}</h4>

                  <mat-form-field>
                    <input matInput formControlName="key" placeholder="Option Key" required>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput formControlName="value" placeholder="Option Value" required>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="form-row">
              <button [disabled]="formGeneratorFormGroup.invalid" mat-raised-button type="submit">Add Question</button>
            </div>

          </div>

        </form>
      </div>


    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="33%">
    <mat-card-title color="primary">Generated Form</mat-card-title>
    <mat-card-content>
      <div>
        <p>
          <app-mat-dynamic-form [questions]="questions" (submit)="onFormSubmit($event)"></app-mat-dynamic-form>
        </p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="33%">
    <mat-card-title color="primary">Generated Question Data</mat-card-title>
    <mat-card-content>
      <pre>{{formGeneratorFormGroup.value | json}}</pre>
    </mat-card-content>
    <mat-card-title color="primary">Form Data</mat-card-title>
    <mat-card-content>
      <pre>{{questions | json}}</pre>
    </mat-card-content>
  </mat-card>

</div>
