<mat-card>
  <mat-card-title color="primary">Reactive Form Example</mat-card-title>
  <mat-card-content>

    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="userFormGroup">

      <div fxLayout="column">

        <mat-form-field>
          <input matInput type="text" formControlName="name" placeholder="Enter your name" required>
          <mat-error *ngIf="userFormGroup.get('name').hasError('required')">Name is required</mat-error>
          <mat-hint align="end">{{userFormGroup.get('name').value.length || 0}}/10</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="email" formControlName="email" placeholder="Enter your email" required>
          <mat-error *ngIf="userFormGroup.get('email').hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="userFormGroup.get('email').hasError('email')">Email is invalid</mat-error>
          <!-- <mat-error *ngIf="userFormGroup.get('email').hasError('email') && !userFormGroup.get('email').hasError('required')">Email is invalid</mat-error> -->
        </mat-form-field>
        <mat-form-field>
          <input  matInput type="text" formControlName="mobile" placeholder="Please Enter your phone number">
          <mat-error *ngIf="userFormGroup.get('mobile').hasError.invalid">Phone number is invalid</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="role" placeholder="Please enter your role" required>
            <mat-option *ngFor="let role of roles" [value]="role">{{role.role}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button [disabled]="userFormGroup.invalid" mat-raised-button type="submit">Sign up</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
